.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: #fff;
}

.footer__content {
  display: flex;
  padding: 60px 80px 108px;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__social {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.footer__social-heading {
  list-style-type: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 20px auto;
}

.footer__list {
  padding: 0;
  margin: 0 0;
}

.footer__list-item {
  list-style-type: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
  gap: 10px;
}

.footer__list-item:last-child {
  margin-bottom: 0;
}

.footer__social-link {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.footer__social-link:hover {
  color: #c1c1c1;
  transition: ease-in-out 0.3s;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.footer__copyright {
  margin: 0;
  padding-left: 80px;
  padding-bottom: 60px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}